@import './reset.scss';

// 추가 전역 스타일
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto; // reset.scss의 overflow-y: hidden 오버라이드
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

